{# src/IServ/ReportBundle/Resources/views/Admin/index.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}

{% block page_title %}{{ _("Bill-Board") }} - {{ _("Settings") }}{% endblock %}

{% block content %}

<div class="pt">
    
    <div class="alert alert-info">
        
        {{ _("Here you can enter rules, which are shown at the form for adding an entry to the bill-board.") }}
    
    </div>
    
    {{ form_start(rules_form) }}
    {{ form_widget(rules_form) }}
    {{ form_end(rules_form) }}
</div>

{% endblock %}
