{% extends '@IServCrud/List/field_imagecollection.html.twig' %}

{% block field %}
    {% set thumbsize = thumbsize|default(75) %}
    {% if value is iterable and value|length == 0 %}
        ({{ _('none') }})
    {% elseif value is iterable %}
        {% for ent in value %}
            {% apply spaceless %}
                {% set imageRoute = admin.getRoute('fileimage_' ~ field.name)|default(field.option('image_route')) %}
                <a data-toggle="modal-image" href="{{ path(imageRoute, {'entityId': object.id, 'id': ent.id}) }}" class="mr">
                    <img src="{{ path(imageRoute, {'entityId': object.id, 'id': ent.id, 'width': thumbsize, 'height': thumbsize}) }}"
                        alt="{{ ent }}" class="img-thumbnail" width="{{ thumbsize }}" height="{{ thumbsize }}"/>
                </a>
            {% endapply %}
        {% endfor %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
